body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f3b2da; /* fondo claro */
}

/* Estilos para el título principal (h1) */
h1 {
  color: #44c17c; /* color más oscuro */
  text-align: center; 
  margin-bottom: 2rem;
  font-size: 2.8rem; 
  font-weight: 600; 
  letter-spacing: 0.04em; 
  text-shadow: 2px 2px 4px rgba(25, 35, 0, 0.15); /* sombra mas marcada*/
}
